<div class="card" style="width: 18rem;">
  <div class="card-body">

    <h5 class="card-title">Editing post</h5>

    <%= render "form", post: @post %>

    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    <%= link_to "Show this post", @post %> |
    <%= link_to "Back to posts", posts_path %>

  </div>
</div>
